*,
*::before,
*::after {
    box-sizing: border-box;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.inactive {
    display: none;
}
.btn {
    font-size: 1.2em;
    padding: 0.5em 1.5em;
}
.form-title {
    font-size: 2.5em;
    font-weight: 700;
}
.form {
    text-align: center;
}
.form-description {
    font-size: 1.2em;
    margin: 1.5em 0;
}
.drop-area {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #000;
    border-radius: 10px;
    height: 6.25em;
    width: 65%;
    margin: 0 auto;
}
.drop-area-text {
    font-size: 1.2em;
    width: 90%;
    color: rgb(179, 173, 173);
    cursor: default;
}
.download-button {
    margin-top: 4em;
}
.download-button > label {
    background: rgb(20, 158, 39);
    color: #fff;
    cursor: pointer;
}
.file-name {
    font-weight: 700;
}
.buttons-wrap {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
}
.submit-btn {
    border: 2px solid rgb(20, 158, 39);
    background: rgb(20, 158, 39);
    color: #fff;
    cursor: pointer;
}
.cancel-btn {
    border: 2px solid #000;
    cursor: pointer;
}
